<article class="blog-post">
  <header>
    <a href="{{ post.link }}">
      <h1 class="post-title">{{ post.title }}</h1>
    </a>
  </header>
  <div class="post-content">
    {{ post.content }}
  </div>
</article>