{% extends 'page.twig' %}

{% block content %}
		
	{% include 'partials/breadcrumbs.twig' %}

	<section class="page-heading">
		
		<h1>Equipment Catalog</h1>
		<p>We offer a wide variety of equipment for any job. Explore our catalog below or call<br/> <strong>Customer Care at 1-800-321-5061.</strong></p>

	</section>

	<section class="types">

		<div class="container">

			<div class="types">

{% for type in types %}

				<a class="type" href="{{ function('get_term_link', type.term_id) }}">

					<div class="overlay"><span class="button">Select</span></div>

					{% if type.type_image_file is not empty %}

					<img src="/assets/images/supplied/{{ type.type_image_file }}" />

					{% else %}

					<img src="/assets/images/type-image-not-found.jpg" />

					{% endif %}

					<h3>{{ type.name | lower | title }}</h3>

				</a>

{% endfor %}

			</div>

		</div>

	</section>

{% endblock %}