{% extends 'layouts/master.twig' %}

{% block content %}

	{% include 'partials/breadcrumbs.twig' with {'color': 'white'} %}

	<section class="page-heading">

		<h1 style="page-heading">404: Page not found</h1>

	</section>

	<section class="page-content">

		<div class="container">

			<h2 style="text-align: center; margin-bottom: 30px;">The page you are looking for cannot be found.</h2>

			<p style="text-align: center;">Click here to return to the <a href="/">homepage.</a></p>

			<br/><br/><br/><br/><br/>
			<br/><br/><br/><br/><br/>
			<br/><br/><br/><br/><br/>
			<br/><br/><br/><br/><br/>

		</div>

	</section>

{% endblock %}